@import "tailwindcss";

.input {
  @apply border rounded-lg p-2 w-full focus:ring-2 focus:ring-blue-400 focus:outline-none;
}

.textarea {
  @apply border rounded-lg p-3 w-full h-28 resize-none focus:ring-2 focus:ring-blue-400 focus:outline-none;
}

.label {
  @apply font-semibold text-gray-700 block mb-1;
}
